table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

.deleteButton {
  color: azure;
  border: 1px solid #c91e1e;
  border-radius: 5px;
  background-color: #c91e1e;
}